.navBox {
    position: fixed;
    display: flex;
    z-index: 99;
}

.mobileMenueIcon {
    display: none;
}

.navigation {
    position: absolute;
    z-index: 22;
    top: 0px;
    left: 0px;
    padding: 0;
    margin: 0;
    display: inline-block;
    list-style-type: none;
    animation: fromLeft 2s;
}

li.nav_list {
    height: 60px;
    width: 35px;
    position: relative;
}

.side {
    font-size: 10px;
}

.nav_list a.side {
    color: rgb(108, 27, 27);
    font-weight: 500;
}

li.nav_list .front,
a.side {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    width: 100%;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .5s ease-out;
}

li.nav_list.user {
    border-top: 1px solid white;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #183356;
    width: 55px;
    height: 110px;
}

li.nav_list.user a {
    margin-bottom: 5px;
    text-decoration: none;
    color: white;
    font-size: 10px;
    transition: all 2s;
}

li.nav_list.user a:hover,
li.nav_list.user a:active {
    color: #FFFC00;
}

li.nav_list.user img {
    border-radius: 50%;
    object-fit: cover;
    height: 45px;
    width: 45px;
}


li.nav_list .front {
    background-color: #183356;
    color: #FFFC00;
    transform-origin: 0 0;
}

a.side {
    background-color: #FFFC00;
    color: #34465d;
    transform-origin: 0 0 45px;
    transform: rotateY(-90deg);
}


li.nav_list:hover a.side,
li.nav_list:hover a.user {
    transform: rotateY(0deg);
}

li.nav_list:hover .front {
    transform: rotateY(90deg);
}


@keyframes fromLeft {
    from {
        opacity: 0;
        transform: translate3d(-50px, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0px, 0, 0);
    }
}

.closeMenue {
    display: none;
}


@media screen and (max-width: 600px) {
    li.nav_list.user img {
        width: 35px !important;
    }

    .navigation {
        display: none;
    }

    .mobileMenueIcon {
        display: block;
        position: absolute;
        top: 0%;
        background-color: #183356;
        box-shadow: rgba(169, 164, 7, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
        color: rgb(241, 184, 78);
        padding: 10px;
        animation: fromLeft 2s;
        z-index: 44;
    }

    .navigation.show {
        display: block;
    }

    .hide {
        display: none;
    }

    .closeMenue.show {
        display: block;
        position: absolute;
        bottom: -20%;
        color: white;
        border: 1px solid white;
        background-color: #a7170c;
        padding: 2px;
    }

}